Backend/.env
frontend/.env
**/.env
**/.env.local
**/.env.production
**/.env.development
.idea/
.vscode/
node_modules/
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
**/.kotlin/
coverage/
*.log
**/.venv/
**/venv/
**/__pycache__/
*.pyc
Backend/tmp_mticc_import/
_db_exports/
_incoming_frontend3/
_incoming_ml2/
_incoming_src/
_tmp_ml_model/
_tmp_mticc/
_tmp_scikit/
Backend/ml_model_service/
